@use 'base/variables' as v;
@use 'base/mixins' as m;

    .site-footer {
        background-color: v.$rosa;
        padding: 2rem 0;
        p{
            text-align: center;
            color: v.$blanco;
            margin: 0;
        }
    }
    